* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

.container {
    border: 5px solid black;
    background-color: blanchedalmond;
    height: 400px;
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 150px 150px;
    gap: 15px;
    justify-content: center;
    align-content: center;
}

.item {
    border: 5px solid red;
    font-size: 4rem;
}
    .item-1, .item-2, .item-3, .item-4 {
        place-self: end;
    }