* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

.container {
    border: 5px solid black;
    background-color: blanchedalmond;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 100px 100px 100px;
    place-content: center;
    grid-template-areas: 
        "item1 item2 item2"
        "item3 item3 item4"
        "item5 item6 item7";
    gap: 15px;
}

.item {
    font-size: 4rem;
}

.item-1 {
    border: 5px solid red;
    background-color: aqua;
    grid-area: item1;
}
.item-2 {
    border: 5px solid green;
    background-color: aqua;
    grid-area: item2;
}
.item-3 {
    border: 5px solid blue;
    background-color: aqua;
    grid-area: item3;
}
.item-4 {
    border: 5px solid yellow;
    background-color: aqua;
    grid-area: item4;
}
.item-5 {
    border: 5px solid brown;
    background-color: aqua;
    grid-area: item5;
}
.item-6 {
    border: 5px solid grey;
    background-color: aqua;
    grid-area: item6;
}
.item-7 {
    border: 5px solid gold;
    background-color: aqua;
    grid-area: item7;
}