* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

.container {
    border: 5px solid black;
    background-color: blanchedalmond;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-auto-rows: 150px;
    grid-auto-columns: 100px;
    height: 600px;
    gap: 15px;
    /*justify-content: center;
    align-content: center;*/
    place-content: center;
    justify-items: end;
    align-items: start;
}

.item {
    border: 5px solid red;
    font-size: 4rem;
}
