* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

.container {
    border: 5px solid black;
    background-color: blanchedalmond;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 75px 75px 75px;
    place-content: center;
    grid-template-areas: 
        "header header header"
        "side main main"
        "side main main";
}

.item {
    font-size: 4rem;
}

.item-1 {
    border: 5px solid red;
    background-color: aqua;
    /*Especifica hasta que linea va a llegar
    grid-column-start: 1;
    grid-column-end: 4;*/
    grid-area: header;
}
.item-2 {
    border: 5px solid green;
    background-color: aqua;
    /*grid-row: 2/4;*/
    grid-area: side;
}
.item-3 {
    border: 5px solid blue;
    background-color: aqua;
    /*
    Se compone del siguiente orden
    1.- Fila en la que empieza.
    2.- Columna en la que comienza.
    3.- Fila en la que termina.
    4.- Columna en la que termina.
    grid-area: 2/2/4/4;*/
    grid-area: main;
}