* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

.container {
    border: 5px solid black;
    background-color: blanchedalmond;
    display: grid;
    /*¿cuántas columnas va tener nuestra grilla?*/
    /*grid-template-columns: 100px 200px 300px;*/
    grid-template-rows: 100px 200px;
    /*¿cuántas filas va tener nuestra grilla?*/
    /*grid-template-rows: 150px 250px;*/
    /*grid-auto-rows: 150px;*/
    grid-auto-columns: 100px;
    /*¿Cómo se llenará la grilla?*/
    grid-auto-flow: column;
    /*row-gap: 15px;
    column-gap: 25px;*/
    gap: 40px;
}

.item {
    border: 5px solid red;
    font-size: 4rem;
}