* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

.hero {
    display: grid;
    grid-template-columns: minmax(300px, 2fr) 3fr;
    grid-auto-rows: 550px;
    margin-top: 50px;
}
    .hero-image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

.info {
    align-self: center;
}
    .info h1 {
        font-size: 4rem;
        font-weight: bold;
        margin-bottom: 30px;
    }
    .info p {
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 30px;
    }
    .info button {
        font-size: 1.4rem;
        padding: 12px 24px;
        background-color: orangered;
        border: none;
        border-radius: 20px;
        color: white;
        cursor: pointer;
    }


.dishes {
    margin: 100px 0;
}

    .dishes-title {
        font-size: 2rem;
        font-weight: bolder;
        text-align: center;
        margin-bottom: 50px;
    }

    .dishes-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(75px, 200px));
        grid-auto-rows: 1fr;
        gap: 25px;
        justify-content: center;
    }

    .dishes-item {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .dishes-item__big {
        grid-area: 1/1/3/3;
    }


.menu {
    margin-bottom: 200px;
}
    .menu-title {
        font-size: 2rem;
        font-weight: bolder;
        text-align: center;
        margin-bottom: 50px;
    }
    .menu-grid {
        display: grid;
        gap: 25px;
        grid-template-columns: repeat(auto-fit, 150px);
        justify-content: center;
    }
    .menu-grid-item {
        background-color: thistle;
        padding: 15px;
        border-top-left-radius: 40px;
    }
    .menu-grid-item img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

@media screen and (max-width:768px) {
    .hero {
        grid-template-columns: minmax(300px, 500px);
        justify-content: center;
    }
    .hero-image {
        display: none;
    }
    .dishes-grid {
        grid-template-columns: repeat(auto-fit, minmax(75px, 100px));
    }
}